*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
  font-family: 'Century Gothic';
  background: #ffffbf;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}
/*==================================================*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 400;
	color: #ffffff;
}
h1,h2,h3,h4,h6 .title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	padding: 30px;
	color: #181818;
	text-align: center;
}
.subtitle {
	color: rgb(80, 79, 79);
	margin-top: 4px;
	font-size: 22px;
	text-align: center;
}
.subtitle-2 {
	color: rgb(29, 28, 28);
    margin-top: 4px;
    font-weight: 500;
	font-size: 22px;
    text-align: center;
    padding: 30px;
}
h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 3px;
    color: #181818;
    text-align: center;
}
.h5-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 15px;
    color: #181818;
    text-align: center;
}
.h5-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 3px;
    color: #181818;
    text-align: center;
} 
.h5-2-5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 15px;
  color: red;
  text-align: center;
}
.Color-4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 3px;
  color: #000000;
  text-align: center;
}
.Ejemplo-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 3px;
  color: #ff0000;
  text-align: center;
}
.Ejemplo-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 3px;
  color:  #ff0000;
  text-align: center;
}
.Ejemplo-3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 3px;
  color:  #ff0000;
  text-align: center;
}
.Ejemplo-4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 3px;
  color: #ff0000;
  text-align: center;
}
/*=======================================*/
.img-columna {
  padding-left: 40px;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
}
/*=======================================/*/
.header-N1 {
	background: red;
	padding: 10px;
}
.header-N1 h2,h4 {
	color: rgb(255, 0, 0);
	padding: 2px;
}
.header-N1 h4 {
	color: #ff0000;
}
.header-N1 h5 {
	color: #990b0bd8;
	padding: 2px;
	text-align: center;
}
/*boton3*/
.boton3 {
	color: rgb(133, 0, 0) !important;
	font-size: 24px;
	font-weight: 300;
	padding: 0.5em 1.2em;
	background: rgba(0,0,0,0);
	border: 2px solid;
	border-color: #ff00005e;
	transition: all 1s ease;
	position: relative;
	text-align: center;
  }
  .boton3:hover {
	background: #a70000;
	color: rgb(255, 255, 255) !important;
  }
 
/*=======================================*/
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #d14f4f;
  background: linear-gradient(90deg, rgb(230, 129, 129) 0%, rgb(209, 79, 79) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(209, 79, 79, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ff0000;
    box-shadow: 0 0 60px rgba(255, 0, 0, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  /*
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  */
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
/*=================================================================*/
.contenedor-footer{
	background: rgba(224, 224, 224, 0.466);
	flex-direction: column;
	border: none;
}

.content-foo{
	margin-bottom: 20px;
	text-align: center;
}

.content-foo h4{
	border: none;
}

.content-foo p{
	color: rgb(175, 0, 0);
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 20px;
}

.titulo-final{
	font-size: 20px;
}
/*====================================================*/